# Patterns Program

### 1. Square Pattern

In [8]:
n = 5
for i in range(0, n):
    for j in range(0,n):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### 2. Hollow Square Pattern

In [9]:
n = 7
for i in range(n):
    for j in range(n):
        if i== 0 or i == n-1 or j== 0 or j == n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

### 3. Left Triangle Pattern

In [10]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end = "")
    print()

*
**
***
****
*****

### 4. Left Downward Triangle Pattern

In [11]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("*", end = "")
    print()

*****
****
***
**
*

### 5. Right Triangle Pattern

In [12]:
n = 6
for i in range(n):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()

      *
     **
    ***
   ****
  *****
 ******

### 6. Right Downward Triangle Pattern

In [13]:
n = 6 
for i in range(n):
    for j in range(n+i):
        print(" ",end="")
    for k in range(n-i):
        print("*",end="")
    print()

      ******
       *****
        ****
         ***
          **
           *

### 7. Hollow Left Triangle Pattern

In [14]:
n = 6
for i in range(n+1):
    for j in range(i):
        if j==0 or j== i-1:
            print("*",end="")
        elif i == n:
            print("*",end="")
        else:
            print(" ",end="")
        
    print()

*
**
* *
*  *
*   *
******

### 8. Pyramid Pattern

In [15]:
n = 7
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(2*i+1):
        print("*",end="")
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

### 9. Hollow Pyramid Pattern

In [17]:
n = 7
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(2*i+1):
        if k==0 or k==2*i:
            print("*",end="")
        else:
            if i == n-1:
                print("*",end="")
            else:
                print(" ",end="")
    print()

      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

### 10. Diamond Star Pattern

In [27]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(' ',end="")
    for j in range(2*i-1):
        print('*',end="")
    print()
for i in range(n-1):
    for j in range(i+1):
        print(' ',end="")
    for j in range(2*(n-i-1)-1):
        print('*',end="")
    print()

   *
  ***
 *****
*******
 *******
  *****
   ***
    *

### 11. Hallow Diamond Star Pattern

In [35]:
n = 7
for i in range(n):
    for j in range(n-i-1):
        print(' ',end="")
    for j in range(2*i+1):
        if j==0 or j==2*i:
            print('*',end="")
        else:
            print(" ",end="")
    print()
for i in range(n-1):
    for j in range(i+1):
        print(' ',end="")
    for j in range(2*(n-i-1)-1):
        if j==0 or j== 2*(n-i-1)-2:
            print('*',end="")
        else:
            print(" ",end="")
    print()

      *
     * *
    *   *
   *     *
  *       *
 *         *
*           *
 *         *
  *       *
   *     *
    *   *
     * *
      *